<div class="forms-container">
    <h3>Header component</h3>

    <ul>
        <li>Interpolation String pageTitle: {{ pageTitle }}</li>
        <li>Interpolation Function showTitle(): {{ showTitle() }}</li>
    </ul>

    <a routerLink="/login" routerLinkActive="active">Login</a> |
    <a routerLink="/admin" routerLinkActive="active">Admin</a> |
    <a routerLink="/employee" routerLinkActive="active">Employee</a> |
    <a routerLink="/friend" routerLinkActive="active">Friend</a> |
    <a routerLink="/relative" routerLinkActive="active">Relatives</a>

    <!-- <hr/> -->
</div>